# Dependency directories
node_modules/
.pnp
.pnp.js

# dotenv environment variables file
.env

# Next.js build output
.next/
out/

# Create React App build output
build/
dist/

# Gatsby files
.cache/
public/

# Parcel files
.cache/
dist/

# Ignoring for @storybook
node_modules/
storybook-static/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Coverage directory used by tools like istanbul
coverage
*.lcov

# IDE/Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs

# Temporary folders
tmp/
temp/
